
<div class="jumbotron">
	<h2>About us</h2>
		<address>
		  <strong>Rik van Donselaar</strong><br>
		  25 Top Secret<br>
		  London, NESWC1234<br>
		  <abbr title="Phone">P:</abbr> (123) 456-7890
		</address>

		<address>
		  <strong>Full Name</strong><br>
		  <a href="mailto:#">first.last@example.com</a>
		</address>
</div>
